<footer class="page-footer font-small bg pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/grazielly-ara%C3%BAjo-684ab71aa/" target="_blank"
                            class="iconLinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/Grazielly-a" target="_blank"
                            class="iconGitHub"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-footer text-center py-3">
        <span class="text">© 2022 Copyright: Luiza Grazielly</span>
    </div>

</footer>