<div class="container-fluid bg">

    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-4 mb-3">

            <div class="row d-flex justify-content-center">

                <div class="col-md-8 formulario">

                    <h1 class="text-center mt-3">Cadastro</h1>

                    <div class="form-group text">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                    </div>

                    <div class="form-group text">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]="usuario.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-group text">
                        <label for="foto">Link da Foto</label>
                        <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua Foto">
                    </div>

                    <div class="form-group text">
                        <label for="senha">Senha</label>
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="form-group text">
                        <label for="confirmeSenha">Confirmar Senha</label>
                        <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="senha" id="senha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group text">
                        <label for="tipo">Tipo de Usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)">
                            <option>Selecione um tipo de usuário</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-3 btn-arredondado" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-success btn-arredondado" (click)="cadastrar()">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>