#img-bg{
    background-image: url(../../assets/img/blog-cadastro.png);
    height: 650px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: #28293E;
}

.text{
    color: #28293E;
}

.formulario{
    max-width: 500px;
    height: 620px;
    border: 1px solid #28293E;
    border-radius: 10px;
    box-shadow: 1px 10px 20px #28293E;
}

.btn-arredondado{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}
