.bg{
    background: #28293E;
}

#img-bg{
    background-image: url(../../assets/img/blog-login.png);
    height: 650px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-arredondado{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}
